body {
    min-height: 100vh;
}

footer {
    min-height: 200px;
}

#mybtn.btn {
    background-color: lightgreen;
    color: darkslategray;
}

.navbar-dark .navbar-brand {
    color: green
}

/* Stijlen voor figcaption */
.figure-caption {
    font-size: 1em;
}

/* Mediaquery voor kleinere schermen */
@media (max-width: 768px) {
    .figure-caption {
        font-size: 0.875em;
    }
}

/* Mediaquery voor nog kleinere schermen, zoals telefoons */
@media (max-width: 576px) {
    .figure-caption {
        font-size: 0.7em;
    }
}

/* Mediaquery voor nog kleinere schermen, zoals telefoons */
@media (max-width: 386px) {
    .figure-caption {
        font-size: 0.6em;
    }
}

/* Mediaquery voor nog kleinere schermen, zoals telefoons */
@media (max-width: 288px) {
    .figure-caption {
        font-size: 0.4em;
    }
}

/* Mediaquery voor nog kleinere schermen, zoals telefoons */
@media (max-width: 190px) {
    .figure-caption {
        font-size: 0.3em;
    }
}